VITE_SUPABASE_URL=https://weezxgastbpsydyvwwnz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndlZXp4Z2FzdGJwc3lkeXZ3d256Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2MTI4NTYsImV4cCI6MjEwNjE4ODg1Nn0.fhTppgZ_9nRYkemGPWAv4M7m4xzAQkc-PNgdLcAnnGY

